footer {
	padding: 3rem;
	background: #303030;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.footer-column {
	display: flex;
	flex-direction: column;
}

.footer-item {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.footer-item--header {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 10px;
	color: #DDD;
}

.footer-item__logo {
	width: 0.8rem;
	filter: invert(0.8);
}

.footer-item__text {
	color: #DDD;
	font-size: 0.8rem;
	line-height: 2.5;
	text-decoration: none;
}