.homepage-content {
	margin: 16px;
	padding: 32px 56px;
	/* background: #F0EDED; FOR PHOTOSHOP */
	background: #F2F0F0;
	justify-content: center;
	cursor: default;
	border-radius: 12px;
}

.content-wrapper {
	padding: 56px 0;
	color: rgba(5, 5, 5, 0.85);
	display: flex;
	margin-left: auto;
	margin-right: auto;
	max-width: 1086px;
	-webkit-box-pack: justify;
	justify-content: space-between;
	flex-wrap: wrap;
	flex: 1 1 0%;
	align-items: center;
	flex-direction: row;
}

.info-wrapper {
	width: 30%;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
}

.info-image {
	width: 60%;
}

.info-header, .info-text {
	color: rgba(5, 5, 5, 0.85);
	margin-bottom: 25px;
}

.info-header {
	font-size: 2rem;
}

.info-text {
	line-height: 28px;
	letter-spacing: -0.07px;
	/* text-align: justify;
	text-justify: inter-word; */
}

.info-button {
	width: fit-content;
	padding: 0.5rem 1rem;
	border: none;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 1.25rem;
	background: #B0E2F5;
	border: 1px solid rgba(0, 18, 77, 0.2);
	color: #002448;
	transition: all 200ms ease;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 45, 88, 0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0, 45, 88, 0.2);
	box-shadow: 0px 3px 5px 0px rgba(0, 45, 88, 0.2);
}

.info-button:focus {
	outline: none;
}

.info-button:hover {
	background: #A0D2E5;
}

.image-wrapper {
	width: 60%;
}
@media all and (max-width: 767px) {
	.info-image, .info-wrapper {
		width: 100%;
	}

	.info-image {
		margin-top: 25px;
	}

	.homepage-content {
		padding: 32px;
	}
}