@media all and (min-width: 1200px) {
	
}

@media all and (max-width: 1199px) {
	input {
		width: 80%;
	}

	.btn {
		font-size: 1.2rem;
	}
} 

@media all and (max-width: 991px) {
	/* Hier mobiel design toepassen  */

	.bitdeal-badge--desktop {
		display: none;
	}

	.bitdeal {
		grid-template-columns: repeat(9, 1fr);
	}

	.deal__desc {
		transition: all 200ms ease;
	}

	.bitdeal-company {
		grid-column-start: 1;	
		grid-column-end: 5;
	}

	.bitdeal--heading {
		display: none;
	}

	.header-left {
		padding: 2rem 3rem;
	}

	.header-right {
		padding: 2rem 6rem;
	}

	.company-reviews {
		display: inline-block;
		font-size: 12px;
	}

	.desc__review {
		display: none;
	}

	.deal__desc--buy {
		grid-column-start: 1;	
		grid-column-end: 10;
	}

	.desc__rate {
		grid-column-start: 5;	
		grid-column-end: 9;
		/* align-self: start; */
	}

	.desc__rate--mobile {
		display: block;
		grid-column-start: 1;	
		grid-column-end: 7;
	}

	.rate-amount {
		margin-bottom: 0;
	}

	.rate--desktop {
		display: none;
	}

	.rate {
		font-size: 1.5rem;
	}

	.arrow {
		display: block;
		justify-self: end;
		transition: all 200ms ease;
	}

	.active-arrow {
		transform: rotate(270deg) !important;
	}

	.bitdeal-badge--mobile {
		display: block;
		justify-self: end;
		align-self: end;
		grid-column-start: 7;	
		grid-column-end: 10;
	}

	/* Style the collapsible content. Note: hidden by default */
	.content {
		display: none;
		overflow: hidden;
	}
} 

@media all and (max-width: 767px) {
	.btn {
		font-size: 1.5rem;
	}

	.header-right {
		margin: 0 1rem;
		border-radius: 12px;
		padding: 2rem 4rem;
	}

	.bitdeals, footer {
		padding: 1rem;
	}
}

@media all and (max-width: 575px) {
	.amount__input > label, .amount__input > input, .asset {
		font-size: 1.2rem;
	}

	.asset {
		padding-top: 6px;
	}

	.rate {
		font-size: 1.2rem;
	}

	.desc__company {
		font-size: 1.5rem;
	}

	.rate-amount {
		font-size: 1.1rem;
	}

	.bitdeal {
		padding: 1rem;
	}

	.bitdeal-header {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		align-items: center;
	}

	.desc__pill {
		font-size: 13px;
	}

	.desc__rate {
		/* align-self: start; */
	}

	.btn {
		font-size: 1.2rem;
	}

	.switch-button {
		font-size: 1.2rem;
	}

	.quote-wrapper {
		display: none;
	}

	.header-left {
		grid-template-rows: 0;
		padding-bottom: 120px;
	}

	.header-right {
		padding: 1rem;
	}

	.nav-item {
		font-size: 4rem;
	}

	.nav-item__not-title {
		display: none;
	}

	section {
		padding: 1.5rem;
	}
}