{{define "content"}}
{{template "homepageheader" .}}
<main class="bitdeals">
	<div class="bitdeal bitdeal--heading">
		<div class="heading">
			<label class="label">
				Aanbieder
			</label>
		</div>
		<div class="heading">
			<label class="label">
				Onderscheiding
			</label>
		</div>
		<div class="heading">
			<label class="label">
				Waardering
			</label>
		</div>
		<div class="heading">
			<label class="label">
				Ontvang
			</label>
		</div>
		<div class="heading">
		</div>
	</div>
	{{$bestrate := .ExchangePrices.BestRate}}
	{{$mostreviews := .ExchangePrices.MostReviews}}
	{{$iphone := .Iphone}}
	{{range .ExchangePrices.ExchangeRates}}
	{{template "bitdeal" (wrap . $bestrate $mostreviews $iphone)}}
	{{end}}
</main>
<section class="homepage-content">
	<div class="content-wrapper">
		<div class="info-wrapper">
			<h2 class="info-image">ℹ️</h2>
			<h2 class="info-header">Informatie over dingen</h2>
			<p class="info-text">Journal supports all your content. Put your articles, presentations, and conversations
				in one place. Do a lot of jumping
				around? Save from your inbox, a webpage, or a document.</p>
		</div>
		<div class="image-wrapper">
			Ik ben een plaatje
		</div>
	</div>
</section>
{{end}}