{{ define "footer" }}
<footer>
	<div class="footer-column footer-column--socials">
		<div class="footer-item footer-item--header">
			Socials
		</div>
		<div class="footer-item footer-item--facebook">
			<img src="/static/images/facebook.svg" alt="Facebook logo" class="footer-item__logo">
			<a href="https://www.facebook.com/bitdeal.nl/" class="footer-item__text" target="_blank"
				rel=noopener>&nbsp;Facebook</a>
		</div>
		<div class="footer-item footer-item--instagram">
			<img src="/static/images/instagram.svg" alt="Instagram logo" class="footer-item__logo">
			<a href="https://www.instagram.com/bitdeal.nl/" class="footer-item__text" target="_blank"
				rel=noopener>&nbsp;Instagram</a>
		</div>
		<div class="footer-item footer-item--twitter">
			<img src="/static/images/twitter.svg" alt="Twitter logo" class="footer-item__logo">
			<a href="https://twitter.com/bitdealnl" class="footer-item__text" target="_blank"
				rel=noopener>&nbsp;Twitter</a>
		</div>
	</div>
	<div class="footer-column footer-column--links">
		<div class="footer-item footer-item--header">
			Navigatie
		</div>
		<div class="footer-item footer-item--homepage">
			<a href="/" class="footer-item__text" rel=noopener>Homepage</a>
		</div>
		<div class="footer-item footer-item--information">
			<a href="/informatie" class="footer-item__text" rel=noopener>Informatie</a>
		</div>
	</div>
</footer>
{{ end }}