{{ define "content" }}
<form class="form-signin" action="/signin" method="post">
	{{ if .Params }}
	<div class="alert alert-danger" role="alert">
		<h5 class="alert-heading">Some error(s) occured</h5>
		{{ range .Params }}
			<p>{{ printErrorParam . }}</p>
		{{ end }}
	</div>
	{{ end }}
	<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
	<small>Or create an account using the same form</small>
	
	<label for="inputUsername" class="sr-only">Username</label>
	<input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" required autofocus maxlength="20">
	
	<label for="inputPassword" class="sr-only">Password</label>
	<input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
	
	<label for="inputCaptcha" class="sr-only">Captcha</label>
	<input type="number" id="inputCaptcha" class="form-control" placeholder="Captcha" name="captcha" required min="0" max="99999">
	<img style="width: 100%" src="data:image/png;base64,{{trimCaptcha .Captcha}}" />

	<button class="btn btn-lg btn-primary btn-block" type="submit" name="action" value="signin">Sign in</button>
	<button class="btn btn-lg btn-outline-primary btn-block" type="submit" name="action" value="signup">Create an account</button>
</form>
{{ end }}