{{ define "footer" }}
<footer>
	<div class="footer-column footer-column--socials">
		<div class="footer-item footer-item--header">
			Socials
		</div>
		<div class="footer-item footer-item--facebook">
			Facebook
		</div>
		<div class="footer-item footer-item--instagram">
			Instagram
		</div>
		<div class="footer-item footer-item--twitter">
			Twitter
		</div>
	</div>
	<div class="footer-column footer-column--links">
		<div class="footer-item footer-item--header">
			Navigatie
		</div>
		<div class="footer-item footer-item--homepage">
			Homepage
		</div>
		<div class="footer-item footer-item--information">
			Informatie
		</div>
	</div>
	<div class="footer-column footer-column--credits">
		<div class="footer-item footer-item--header">
			Credits
		</div>
		<div class="footer-item footer-item--homepage">
			Tekst
		</div>
		<div class="footer-item footer-item--information">
			Hier
		</div>
	</div>
</footer>
{{ end }}