{{ define "homepageheaderright" }}
<section class="header-right">
	<div class="filter">
		<div class="filter__section filter__section--calc">
			<div class="calc-field calc-field__buttons">
				<button type="button" id="buy-button" class="switch-button switch-button__left">Kopen</button>
				<button type="button" id="sell-button"
					class="switch-button switch-button__right switch-button__right--non-active">Verkopen</button>
			</div>
			<div class="calc-field calc-field__upper">
				<label id="eur-label" class="label">
					Betaal
				</label>
				<div class="amount__section">
					<div class="amount__input amount__input--euro">
						<label for="eur">€</label>
						<input id="eur" name="eur" value="420.00" type="number" step="0.01" />
					</div>
					<div class="asset">
						Euro
					</div>
				</div>
			</div>
			<div class="calc-field calc-field__lower">
				<label id="btc-label" class="label">
					Ontvang
				</label>
				<div class="amount__section">
					<div class="amount__input amount__input--btc">
						<label for="btc">{{if (eq .Iphone true)}}B{{end}}{{if (eq .Iphone false)}}₿{{end}}</label>
						<input id="btc" name="btc" value={{.ExchangePrices.BestAmount}} type="number"
							step="0.00000001" />
					</div>
					<div class="asset">
						Btc
					</div>
				</div>
			</div>
			<div class="calc-field calc-field__switch">
				<p>Toon <span title="Exchanges zijn complexere handelsplatformen">exchanges</span></p>
				<label class="switch">
					<input checked type="checkbox" onclick="toggleSwitch()">
					<span class="slider round"></span>
				</label>
			</div>
		</div>
	</div>
</section>
{{ end }}